* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.footer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.footer-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.footer-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.footer-bottom-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
  overflow: hidden;
}

.left-side {

  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-box {

  flex: 1;
  background:#F1F1F1;
  padding: 15px;
  color: #000000;
  overflow-wrap: break-word;
}

.left-box h2 {
  font-size: 1.5rem;
  margin-bottom: 6px;
}

.left-box h4 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.left-box p,
.left-box li {
  font-size: .9rem;
  line-height: 1.3;
}

.left-box ul {
  padding-left: 15px;
  margin: 0;
}
.cut-text {
  list-style: none;
  padding-left: 0;
}

.cut-text li {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  text-decoration-color: #000000;
}

.right-side {
  flex: 1;
  min-width: 0;
  background:#F1F1F1;
  padding: 25px;
  color: #000000;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  overflow-wrap: break-word;
}

.right-side h3 {
  font-size: 1rem;
}

.big-text {
  background-color: #a09797;
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.arrow-button {
  width: 55px;
  height: 55px;
  font-size: 22px;
  background: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow-button:hover {
  background: #ffffff;
    color: #000000;
    border: 1px solid black ;
  transform: translateX(4px);
}

@media (max-width: 768px) {

  .footer-bottom-container {
    flex-direction: column;
    gap: 0;
  }

  .left-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .left-side .left-box:first-child {
    grid-column: span 2;
  }

  .left-box h2 { font-size: 0.7rem; }
  .left-box h4 { font-size: 0.65rem; }
  .left-box p,
  .left-box li {
    font-size: 0.65rem;
    line-height: 1.2;
  }

  .right-side {
    padding: 15px;
    gap: 8px;
  }

  .right-side h3 {
    font-size: 0.75rem;
    margin: 0;
  }

  .big-text {
    font-size: 1rem;
    margin: 5px 0;
  }

  .arrow-button {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

}