.marqueeScroll-wrapper {
  width: 100%;
  overflow-x: hidden;
  font-family: "Big Shoulders Display", sans-serif;
}

/* SECTION */
.marqueeScroll-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F1F1F1;
  padding: 2rem 0;
  margin: 5rem 0 ;
}

/* CONTAINER */
.marqueeScroll-container {
  position: relative;
  width: 120%;
  height: clamp(150px, 20vw, 250px);
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

/* MARQUEE */
.marqueeScroll-marquee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
}

/* ITEMS */
.marqueeScroll-item {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marqueeScroll-text {
  flex: 1.5;
}

/* IMAGES */
.marqueeScroll-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADINGS */
.marqueeScroll-item h1 {
  text-transform: uppercase;
  font-size: clamp(2rem, 6vw, 70px);
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
}

/* TABLET */
@media (max-width: 1024px) {
  .marqueeScroll-container {
    width: 180%;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .marqueeScroll-section {
    min-height: 100vh;
  }

  .marqueeScroll-container {
    width: 250%;
    height: 150px;
  }

  .marqueeScroll-item h1 {
    font-size: clamp(1.5rem, 8vw, 60px);
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .marqueeScroll-container {
    width: 300%;
    height: 120px;
  }

  .marqueeScroll-item h1 {
    font-size: clamp(1.2rem, 9vw, 40px);
  }
}