.marqueeScroll-wrapper {
  width: 100%;
  overflow-x: hidden;
  font-family: "Big Shoulders Display", sans-serif;
}

.marqueeScroll-section {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:#F1F1F1;
}

.marqueeScroll-container {
  position: relative;
  width: 125%;
  height: 250px;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.marqueeScroll-marquee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 1em;
}

.marqueeScroll-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marqueeScroll-text {
  flex: 1.5;
}

.marqueeScroll-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marqueeScroll-item h1 {
  text-transform: uppercase;
  font-size: 70px;
}

@media (max-width: 900px) {
  .marqueeScroll-section {
    height: 100vh;
  }

  .marqueeScroll-container {
    width: 250%;
    height: 150px;
  }

  .marqueeScroll-item h1 {
    font-size: 60px;
  }
}