/* JunniLandingPage.css */

.junni-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;          /* prevents horizontal scrollbar */
  height: auto;         /* or set a fixed height if needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
  box-sizing: border-box; /* ensures padding doesn't overflow */
}

.junni-nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "MOSKO MAPPA";
  font-size: 28px;
  pointer-events: all;
}

.junni-flip-button-container {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  pointer-events: none;
}

.junni-flip-button {
  border: none;
  outline: none;
  color: #fff;
  background-color: #000;
  border-radius: 0.1em;
  padding: 0.65em 1em 0.25em 1em;
  text-transform: uppercase;
  font-family: "MOSKO MAPPA";
  font-size: 24px;
  pointer-events: all;
  cursor: pointer;
}

.junni-board {
  width: 100vw;
  height: 100vh;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  gap: 0.15em;
  perspective: 1000px;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.junni-row {
  flex: 1;
  display: flex;
  gap: 0.15em;
}

.junni-tile {
  flex: 1;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.junni-tile-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.1em;
  overflow: hidden;
}

.junni-tile-front {
  background-color: rgba(47, 79, 79, 0);
}

.junni-tile-back {
  background-color: rgba(47, 79, 79, 0);
  transform: rotateX(180deg);
}

.junni-tile-front::before,
.junni-tile-back::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: 600% 600%;
  background-position: inherit;
  clip-path: inset(0 round 0.25em);
}

.junni-tile-front::before {
  background-image: url("../../assets/front.jpg");
}

.junni-tile-back::before {
  background-image: url("../../assets/back.jpg");
}

.junni-blocks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

#junni-blocks {
  width: 105vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
}

.junni-block {
  width: 50px;
  height: 50px;
  border: 0.5px solid transparent;
  transition: border-color 0.3s ease;
}

.junni-highlight {
  border-color: #fff;
}
