@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Limelight", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.Hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.NewGrid {
  width: 100%;
  min-height: 100vh;
  display: grid;
}

.PricingCard {
  width: 100%;
  min-height: 100vh;
}

.AdBlank {
  width: 100%;
  min-height: 100vh;
}

.ArtTechNav {
  width: 100%;
  min-height: 100vh;
}
